<html>

<head>
  <link href="/assets/main.css" rel="stylesheet" />

  <!-- Install HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>

  <!-- Any page can set it's own title -->
  <title>{%block title%}{{ title }}{% endblock %}</title>

  <!-- Possibility to extend head -->
  {% block head%}{% endblock %}
</head>

<body hx-boost="true" class="flex flex-col h-screen">
  <nav class="bg-blue-500 text-white font-bold py-2">
    <div class="flex w-1/2 mx-auto">
      <div class="grow text-3xl">
        <a href="/">TaskManager<a>
      </div>
      <div class="text-2xl">
        <a href="/tasks" class="underline">Tasks</a>
      </div>
    </div>
  </nav>
  <div id=content class="grow text-slate-800 px-2 py-1.5">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
