<!DOCTYPE HTML>
<html>

<head>
  <link href="/assets/main.css" rel="stylesheet" />

  <!-- Install HTMX -->
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>

  <!-- Any page can set it's own title -->
  <title>{%block title%}{{ title }}{% endblock %}</title>

  <!-- Possibility to extend head -->
  {% block head%}{% endblock %}
</head>

<body hx-boost="true">
  <main>
    <nav class="flex bg-green-500 text-white font-bold px-2 py-1.5">
      <div class="grow">
        Tasks
      </div>
    </nav>
    <div id=content class="px-2 py-1.5">
      {% block content %}{% endblock %}
    </div>
  </main>
</body>

</html>
