<div id="item-{{id}}" class="flex w-full">
  {% if !done %}
  <p class="text-lg grow">{{title}}</p>
  <button hx-put="/api/tasks/{{id}}/done/true"
    class="rounded bg-blue-500 px-2 py-1.5 text-white hover:bg-blue-600 active:bg-red-700"
    hx-target="#item-{{id}}">Done</button>
  {% else %}
  <p class="text-lg grow line-through">{{title}}</p>
  <button hx-put="/api/tasks/{{id}}/done/false"
    class="rounded bg-red-500 px-2 py-1.5 text-white hover:bg-red-600 active:bg-red-700"
    hx-target="#item-{{id}}">Undo</button>
  {% endif %}
</div>
