<!-- prettier-ignore -->
{% extends "base.html" %}
{% block title %}Tasks{% endblock %}

{% block content %}
<div class="h-full flex flex-col gap-3 bg-blue-200 p-2">
  {% include "task-list.html" %}

  <form class="mx-auto flex gap-2">
    <input id="title" name="title" class="px-2 py-1.5" type="text">
    <button hx-post="/api/tasks" hx-target="#task-list" hx-swap="beforeend"
      class="rounded bg-blue-500 text-white px-2 py-1.5 hover:bg-blue-600 active:bg-blue-700">Add</button>
  </form>
</div>
{% endblock %}
